
#logo-img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(50% - 80px/2 - 400.1px);
    top: calc(50% - 80px/2 - 218.1px);
}

#logo-text {
    position: absolute;
    width: 280px;
    height: 96px;
    left: calc(50% - 280px/2 - 182px);
    top: calc(50% - 96px/2 - 218px);

    font-size: 52px;
    line-height: 96px;

    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.045em;

    background: linear-gradient(90deg, #D058D3 0%, #8636CB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#welcome-text {
    position: absolute;
    width: 427px;
    height: 90px;
    left: calc(50% - 427px/2 - 237.5px);
    top: calc(50% - 90px/2 - 76px);

    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #F5D6FF;
}

#login-header {
    position: absolute;
    width: 334px;
    height: 56px;
    left: calc(50% - 334px/2 + 275px);
    top: calc(50% - 56px/2 - 190px);

    font-weight: 600;
    font-size: 28px;
    line-height: 51px;
    text-align: center;

    color: #F5D6FF;
}

#login-username {
    position: absolute;
    width: 334px;
    height: 42px;
    left: calc(50% - 334px/2 + 274px);
    top: calc(50% - 32px/2 - 100px);

    font-size: 16px;
    line-height: 30px;

    color: #F5D6FF;
    background: transparent;
    border-bottom: 2px solid #F5D6FF;
}

#login-password {
    position: absolute;
    width: 334px;
    height: 42px;
    left: calc(50% - 334px/2 + 274px);
    top: calc(50% - 38px/2 + 5px);

    font-size: 16px;
    line-height: 30px;

    color: #F5D6FF;
    background: transparent;
    border-bottom: 2px solid #F5D6FF;
}

#login-remember {
    position: absolute;
    width: 17px;
    height: 17px;
    left: calc(50% - 17px/2 + 115.5px);
    top: calc(50% - 19px/2 + 102.5px);
}

#login-remember-text {
    position: absolute;
    width: 319px;
    height: 31px;
    left: calc(50% - 319px/2 + 267px);
    top: calc(50% - 31px/2 + 105.5px);

    font-size: 14px;
    line-height: 24px;

    color: #F5D6FF;
}

#login-username-caption {
    position: absolute;
    width: 319px;
    left: calc(50% - 319px/2 + 265.5px);
    top: calc(50% - 22px/2 - 59px);

    font-size: 12px;
    line-height: 24px;

    color: #F5D6FF;
}

#login-password-caption {
    position: absolute;
    width: 319px;
    left: calc(50% - 319px/2 + 266.5px);
    top: calc(50% - 23px/2 + 42.5px);

    font-size: 12px;
    line-height: 24px;

    color: #F5D6FF;
}

#login-submit {
    position: absolute;
    width: 335px;
    height: 56px;
    left: calc(50% - 335px/2 + 273.5px);
    top: calc(50% - 56px/2 + 191px);

    font-size: 16px;
    line-height: 33px;
    text-align: center;

    color: #F5D6FF;
    background: #12122A;
    border-radius: 30px;
}

#login-submit:hover {
    color: #0B0E1F;
    background: #F5D6FF;
}

#login-rectangle1 {
    position: absolute;
    width: 275px;
    height: 534px;
    left: -100px;
    top: -200px;

    background: linear-gradient(179.94deg, rgba(134, 54, 203, 0) 0.03%, rgba(134, 54, 203, 0.5) 95.39%);
    border-radius: 40px;
    transform: rotate(148.12deg);
}

#login-rectangle2 {
    position: absolute;
    width: 275px;
    height: 534px;
    left: 224px;
    top: -200px;

    background: linear-gradient(179.94deg, rgba(134, 54, 203, 0) 0.03%, rgba(134, 54, 203, 0.5) 95.39%);
    border-radius: 40px;
    transform: rotate(148.12deg);
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-weight: 900; /* not working for some reason, should make checkbox solid */
}

input[type=checkbox] + label:before { content: "\f0c8"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f14a"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 10px; } /* allow space for check mark */
