#logo-img {
    position: absolute;
    width: 101.79px;
    height: 101.79px;
    left: calc(50% - 101.79px/2 - 462.6px);
    top: calc(50% - 101.79px/2 - 224.7px);
}

#logo-text {
    position: absolute;
    width: 263px;
    height: 96px;
    left: calc(50% - 263px/2 - 242px);
    top: calc(50% - 96px/2 - 224.6px);

    font-size: 64px;
    line-height: 96px;

    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.045em;

    background: linear-gradient(90deg, #D058D3 0%, #8636CB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#welcome-text {
    position: absolute;
    width: 427px;
    height: 90px;
    left: calc(50% - 427px/2 - 300px);
    top: calc(50% - 90px/2 - 82.6px);

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #F5D6FF;
}

#login-header {
    position: absolute;
    width: 334px;
    height: 56px;
    left: calc(50% - 334px/2 + 290.5px);
    top: calc(50% - 56px/2 - 189.6px);

    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    text-align: center;

    color: #F5D6FF;
}

#login-username {
    position: absolute;
    width: 334px;
    height: 32px;
    left: calc(50% - 334px/2 + 289.5px);
    top: calc(50% - 32px/2 - 82.6px);

    font-size: 20px;
    line-height: 30px;

    color: #F5D6FF;
    background: transparent;
    border-bottom: 2px solid #F5D6FF;
}

#login-password {
    position: absolute;
    width: 334px;
    height: 32px;
    left: calc(50% - 334px/2 + 289.5px);
    top: calc(50% - 32px/2 + 22.4px);

    font-size: 20px;
    line-height: 30px;

    color: #F5D6FF;
    background: transparent;
    border-bottom: 2px solid #F5D6FF;
}

#login-remember {
    position: absolute;
    width: 17px;
    height: 17px;
    left: calc(50% - 17px/2 + 131px);
    top: calc(50% - 19px/2 + 102.9px);
}

#login-remember-text {
    position: absolute;
    width: 319px;
    height: 31px;
    left: calc(50% - 319px/2 + 310px);
    top: calc(50% - 31px/2 + 105.9px);

    font-size: 16px;
    line-height: 24px;

    color: #F5D6FF;
}

#login-username-caption {
    position: absolute;
    width: 319px;
    left: calc(50% - 319px/2 + 281px);
    top: calc(50% - 73px/2 - 16.1px);

    font-size: 16px;
    line-height: 24px;

    color: #F5D6FF;
}

#login-password-caption {
    position: absolute;
    width: 319px;
    left: calc(50% - 319px/2 + 282px);
    top: calc(50% - 73px/2 + 84.9px);

    font-size: 16px;
    line-height: 24px;

    color: #F5D6FF;
}

#login-submit {
    position: absolute;
    width: 335px;
    height: 56px;
    left: calc(50% - 335px/2 + 289px);
    top: calc(50% - 56px/2 + 191.4px);

    font-size: 22px;
    line-height: 33px;
    text-align: center;

    color: #0B0E1F;
    background: #F5D6FF;
    border-radius: 30px;
}

#login-submit:hover {
    background-color: #7A6B7F;
}

#login-rectangle1 {
    position: absolute;
    width: 275px;
    height: 534px;
    left: -100px;
    top: -200px;

    background: linear-gradient(179.94deg, rgba(134, 54, 203, 0) 0.03%, rgba(134, 54, 203, 0.5) 95.39%);
    border-radius: 40px;
    transform: rotate(148.12deg);
}

#login-rectangle2 {
    position: absolute;
    width: 275px;
    height: 534px;
    left: 224px;
    top: -200px;

    background: linear-gradient(179.94deg, rgba(134, 54, 203, 0) 0.03%, rgba(134, 54, 203, 0.5) 95.39%);
    border-radius: 40px;
    transform: rotate(148.12deg);
}