#menu {
    background-color: #12122B;
    color: #F5D6FF;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    position: absolute;
    display: inline-block;
}

#menu span {
    text-align: center;
    width: 85px;
    display: inline-block;
    font-size: 13px;
    padding: 15px 20px;
    cursor: pointer;
}

#menu span:hover {
    opacity: 0.5;
}

#menu-selected {
    width: 125px;
    position: absolute;
    border-bottom: 4px solid #F5D6FF;
    display: inline-block;
    left: 0;
    bottom: 0;
}

.user-prefs {
    line-height: 50px !important;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 30px;
}